APScheduler==3.6.3
Babel==2.9.0
BeautifulSoup4==4.9.3
feedparser==6.0.2
lxml==4.6.2
Pyrogram==1.1.7
pyTelegramBotAPI==3.7.4
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.5
redis==3.5.3
requests==2.25.1
TgCrypto==1.2.2